.about--1stp{
    margin: 50px;
}

.about--line{
   display: flex;
   justify-content: space-around;
}

.about--line-item{
    margin-bottom: 60px;
    width: 40%;
    align-self: center;
}

.about--span{
    display:inline-block;
    line-height: var(--font-size-question-12);
    vertical-align: top;
    margin-top: 5px;
    margin-left: 10px;
    font-size: var(--font-size-question-12);
    word-wrap: break-word;    
}

.about-bottom{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-bottom div {
    /* min-width: 300px; */
    margin: 20px auto;
}


.question{
    display: block;
    font-weight: bolder;
    font-size: var(--font-size-question-12);
}

.answer{
    display: inline-block;
    margin: 0px 0px 10px 20px;
    font-style: italic;
}