.account-grid{
    display: grid;
    grid-column-gap: 5px;
    text-align: left;
    grid-template-columns: 15% 30% 15% 40%;
    color: var(--black);
    font-style: normal;
}

.account-grid ul{
    padding-left: 0px;
}
