.contact-container{
    width: 30%;
    min-width: 450px ;
    margin: 0 auto;
    color: var(--black);
    text-align: left;
}

.contact--title{
    text-align: left;
}

.contact-main-content{
    width: 90%;
    background-color: var(--gray);
    margin:0 auto;
}

.contact-main-content form{
    margin: 50px;
    padding: 50px;
}

.contact-main-content label{
    margin-top: 20px;
    margin-left: 10px;
    display: block;
}

.contact-main-content input{
    display: block;
    width: 100%;
}

.contact-main-content textarea{
    width: 100%;
}

.contact-main-content button{
    display: block;
    background-color: var(--gray);
    border: none;
    margin: 20px auto;
}

.contact-main-content .cta{
    margin-top: 0px;
}

.contact-main-content .confirmation{
    margin-top: -70px;
    text-align: center;
    display: none;
}

.confirmation ~ p{
    text-align: center;
    margin:20px auto;
    padding:30px;  
    line-height: var(--font-size-question-12) ;
    vertical-align: middle;
}