.game-container{
    margin: 0 auto;
    margin-top: 20px;
    width: 95%;
    display: flex;
    flex-direction: column;
}

#toggle-categories-label h2{
    color: var(--orange);
}

#toggle-categories{
    display: none;
}

#toggle-btn{
    color: var(--gray); 
    position: relative;
    top: -26px;
    left: 52px;
    font-weight: bold;
    font-size: 2.1rem;
}

#toggle-categories-label:hover{
    font-style: italic;
}

#toggle-btn:after{
    content: '-';
}

#toggle-categories:checked ~ #game-categories{
    display: none;
}

#toggle-categories:checked + #toggle-btn:after{
    content: '+';
}


#game-categories{
    display: block;
    background-color: var(--gray);
    color: var(--black);
    width: 35%;
    margin: -21px auto 10px auto;
    padding: 10px 0;
    z-index: -1;
}

#game-categories ul{
    list-style-type: none;
    padding: 0px;
}

#game-categories input{
    margin-top: 10px;
    width: 25%;    
    z-index: 0;
}

#price-from, #price-to{
    text-align: right;
}

.breadcrumb--link{
    color: var(--orange);
    font-size: var(--font-size-CTA-14);
    font-weight: bold;   
}

.breadcrumb--link:hover{
    color: white;
}

.breadcrumb--gt{
    font-size: var(--font-size-CTA-14);
    font-weight: bold;   
}
