
.game-content{
    background-color: var(--gray);
    color: var(--black);
    text-align: left;
    padding: 20px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.game-content > div:nth-child(1){
    order: 2;
    flex-grow: 1;
    margin: 20px auto;
}

.game-content > div:nth-child(2){
    order: 1;
    flex-grow: 6;
    margin: 10px;
    padding-bottom: 60px;
}

.game-content h1{
    color: var(--black);
    margin-top: 10px;
}

.game-content > div > img{
    display: block;
    width: 300px;
}

.game-mon-title{
    font-size: var(--font-size-question-12);
    margin-top: 20px;
    display: inline-block;
    font-weight: bold;
}

.game-requirements{
    width: 300px;
    text-overflow: clip;
    font-size: var(--font-size-game-requirements);
    word-wrap: break-word;
}

.game-pegi{
    margin-top: 20px;
    width: 60px;
}

.game-header{
    display: flex;
    justify-content: space-between;
}

.game-header .price-circle{
    text-align: center;
}

.game-grid{
    display: grid;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: left;
    margin-top: 10px;
}

.game-grid-item1{
    grid-column: 1;
    font-weight: bold;
    font-size: var(--font-size-question-12);
}

.game-grid-item2{
    grid-column: 2;
    margin-top: 4px;
    word-wrap: break-word;
}

.game-grid-item2 > p {
    margin: 0;
}

.game-grid-item3{
    position: relative;
    grid-column:  2;
    text-align: center;
}

.game-grid-item3 label{
    display: inline-block;
}

.game-grid-item3 .cta{
    display: block;
}

#item-added{   
    position: absolute;
    top:40px;
    left: 60%;
    min-width: 20px;
    min-height: 20px;
    max-width: 20px;
    max-height: 20px;
    line-height: 20px; 
    border: var(--orange) solid 1px;
    color: white;
    background-color: var(--orange);
    border-radius: 50%;
    vertical-align: middle;
    display: none;
    
}

#add-to-cart--checkbox{
    display: none;
}

#add-to-cart--checkbox:checked ~ #item-added{
    display: inline;
    animation: item_added_animation 3s;
    animation-fill-mode: forwards;
}

@keyframes item_added_animation{
    to{
        top:-400px;
        left: 105%;
        opacity: 0;
    }
    
}