/* header
-------------------------*/
header{
    width: 100%;
}

#nav-desktop{
    display: none;
}

#nav-mobile{
    position: fixed;
    box-sizing: border-box;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--black);
    border-bottom: var(--gray) 2px solid;    
    padding: 30px 20px 20px 20px;  
    z-index: 999;
}

#mob-utilities{
    display: flex;
    justify-content: space-between;
}

#mob-utilities > section{
    position: relative;
}

#mob-utilities h1{
    display: inline;
}

#mob-utilities a{
    font-family: 'Bebas Neue', cursive;
    font-size: var(--font-size-nav-17);
    text-decoration: none;
    color: var(--gray);
    vertical-align: middle;
    font-style: normal;  
}

#hamb-menu{
    display: none;
}

#hamb-menu-label img{    
    width: 50px;
    margin-top: 0px;
    margin-right: 10px;
    vertical-align: middle;
    position: relative;
    top: -4px;
}

#hamb-menu-win{    
    display: none;
    position: fixed;
    top: 101px;
    left: -40px;
    width: 350px;
    height: auto;
    border: var(--gray) 2px solid;
    background-color: var(--black);
    height: 450px;

}

#hamb-menu-win > .blur-logo-container{   
    position: relative;
    width: 150px;
    height: 58px;
    left: 16px;
}

#hamb-menu-win .blur-logo-img{    
    width: 150px;
    height: 94px;
    left: 116px;
}

#hamb-menu-win section {
    position: relative;
    top: 110px;
    left: 20px;
    text-align: left;
    padding: 10px 20px;
    border-bottom: var(--gray) 2px solid;
    margin: 0 30px;
}

#hamb-menu-win ul {
    list-style: none;
}

#hamb-menu:checked ~ #hamb-menu-win{
    display: block;
}

#mob-shopping-cart{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
    background-image: url("/images/shoppingCart.png") ;
    background-size: cover;
    position: relative;
    top: -5px;
}
#mob-shopping-cart:hover{
    background-image: url("/images/shoppingCartHover.png");
}

#mob-search-form{
    display: inline-block;
    margin-bottom: 10px;
}

#mob-searchfor{  /*input for search */
    width: 198px;
    height: 38px;
    position: absolute;
    top: -5px;
    left: -211px;
    display: none;
    font-size: var(--font-size-game-link-15);
}

#mob-search{
    width: 50px;
    height: 50px;
    vertical-align: middle;
    display: inline-block;
    background-image: url("/images/searchBtn.png");
    background-size: cover;
    position: relative;
    top: -9px;
}

#mob-search:hover{
    cursor: pointer;
    background-image: url("/images/searchBtnHover.png");
}

#mob-show-details{
    display: none;
}

#mob-show-details:checked + #mob-searchfor{
    display: inline-block;
}


/* Main
--------------------------------*/
main{
    width: 100%;
    margin: 122px auto 0 auto;
    text-align: center;
    /*padding: 0px 20px;*/
}
    
    /* Info Container
    ------------------------------------*/
#info{
    width: 60%;
    max-width: 1300px;
    background-color: var(--gray);
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px 40px 40px 40px;
}

.info-item img{
    height: 100px;
}

.info-item{   
    flex-grow: 1;
    color: var(--black);
    padding: 0 15px;
    margin-top: 40px;
}

.info-item:nth-last-child(1){
    border-right: none;
    padding-right: 0px;
}

.info-item p{
    height: 50px;
}
    /* Preview Containers 
    -----------------------------*/
.preview-container{
    margin: 0 auto;
    margin-top: 20px;
    width: 95%;
}

.preview--title{  
    display: flex;
    justify-content: space-between;
    line-height: calc(var(--font-size-h1-2r) + 1rem);
    align-items: flex-end;
}

.link{
    vertical-align: middle;
}

.link:hover{
    color: var(--gray);
}

.link-whitbg{
    vertical-align: middle;
}

.link-whitbg:hover{
    color: var(--black);
}


.preview-list{
    top:3rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.preview-list-item{
    margin: 10px;
    background-color: var(--gray);
    display: flex;
    flex-grow: 1;
    justify-content: space-evenly;
    color: var(--black);
    font-size: var(--font-size-game-text-1);
}

.preview-list > form {
    width: 70%;
    margin: 40px auto;
}

form > .game-grid-item1{    
    font-weight: normal;
}


.preview-list-item > a > img {
    margin: 10px;
    width: 130px;
    min-width: 130px;
}

.preview-list-item div{
    flex-basis: 66%;
    text-align: left;
    padding: 5px;
}

.preview-list-item--info{
    display: flex;
    flex-flow: column;
}

.preview-list-item--bottom{
    display: flex;
    justify-content: flex-start;

}

.preview-list-item--bottom img{
    height:70px;
    justify-self: flex-start;
    align-self: flex-end;
}

.preview-list-item--bottom .price-circle{
    align-self: flex-end;
    margin-bottom: 10px;
    margin-left: 10px;
    flex-basis: 2%;
    text-align: center;
}
.preview-list-item--bottom a {
    align-self: flex-end;
    text-align: right;
    flex-basis: 90%;
}

/* Footer
---------------------------*/
footer{
    width: 90%;
    margin: 0 auto;
}

#social-payment-info{
    background-color: white;
    margin: 0 auto;
    margin-top: 70px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#social-payment-info div{
    margin-left: 12vw;
    margin-right: 12vw;
}

#footer-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#footer-links > div{    
    margin: 20px 0;
}
#footer-links ul{
    list-style-type: none;
    
}
