.shoping-cart-heads{
    display: flex;
}

.shoping-cart-heads > div {
    font-weight: bold;
    font-size: var(--font-size-game-text-1);
}

.shopping-cart-item-container {
    display: flex;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
}

.shopping-cart-total{
    flex-direction: column;
    margin-top: 20px;
}

.order-details-container {
    display: flex;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}

.shopping-cart-item-container img {
    width: 80px;
    object-fit: contain;
}

.container-white{
    border: var(--black) 1px solid;
    background-color: white;
    padding: 20px;
}

#shopping-cart-amount{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
}




