/* Global styles inluding mobile */
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,500;0,800;1,500&display=swap');
@import url("variables.css");
@import url("std.css");
@import url("main.css");
@import url("index.css");
@import url("game-list.css");
@import url("about.css");
@import url("game.css");
@import url("contact.css");
@import url("create-account.css");
@import url("shopping-cart.css");
@import url("account.css");



@media (min-width: 650px){
    :root{
        font-size: 18px;
        }

    #hamb-menu-win{
        height: 500px;
    }
}

@media (min-width: 960px){
    /* navigation
    -----------------------*/
    #hamb-menu-label{
        display: none;
    }

    #site-title{
        display: none;
    }

    #nav-mobile{
        border: none;
    }

    .hamb-menu-win {
        display: block;
        top: -10px;
        width: 100%;
        height: 250px;
        border: none;
        background:var(--black) url("../images/background.png") repeat top center
    }

    .hamb-menu-win .blur-logo-container {
        position: relative;
        width: 300px;
        height: 115px;
        left: 16px;
    }

    .hamb-menu-win .blur-logo-img {
        top: 65px;
        left: 81px;
        position: absolute;
        width: 180px;
        height: 114px;
        z-index: 2;
    }

    #search-shopping-cart{
        position: relative;
        top: 32px;
    }

    #utilities-desktop{
        position: fixed;
        top: 17px;
        right: 23px;
        width: 260px;
    }

    #utilities-desktop ul{        
        display: flex;
        justify-content: space-between;
        margin-left: 0;
    }

    #main-nav-desktop{
        position: fixed;
        top: 170px;
        left: 0px;
        width: 100%;
        border-top: var(--gray) 2px solid;
        border-bottom: var(--gray) 2px solid;

    }

    #main-nav-desktop ul{        
        display: flex;
        justify-content: center;
        margin-left: 0;
    }

    #main-nav-desktop li{    
        padding: 10px 20px;
        border-right: var(--gray) 1px solid;
    }

    #main-nav-desktop li:last-child{
        border-right: none;
    }

    /* index.html
    ------------------*/
    main {
        margin: 300px auto 0 auto;
    }

    .info-item{
        flex-basis: 40%;
    }

    .info-item p{
        height: 70px;
    }

    .preview-list-item{
        flex-basis: 45%;
    }

    #social-payment-info{
        flex-direction: row;
        justify-content: space-around;
    }
       
    #social-payment-info div {
        margin: 0;    
    }

    #footer-links{
        flex-direction: row;
        justify-content: space-around;
    }

    /* game-*.html
    -----------------------*/
    .game-content{
        flex-direction: row;
    }

    .game-content > div:nth-child(1){
        order: 1;
    }

    /* game categories
    ---------------------*/
    ul .nav-selected {
        color: var(--orange);
    }

    .game-container{
        flex-direction: row;
        justify-content: center;
    }

    .game-container section:nth-child(1){
        text-align: left;
    }

    .game-container section:nth-child(2){
        flex-basis: 50%;
    }

    #toggle-categories-label h2 {
        font-size: var(--font-size-nav-17);
        color: var(--gray);
        margin: 70px 0px 5px 25px;
    }

    #game-categories{
        width: 85%;
        padding-left: 20px;
    }

    #toggle-categories:checked ~ #game-categories{
        display: block; /* disable categories toggle */
    }

    /* contact.html
    ------------------*/
    .contact-container{
        width: 60%;
    }

    /* create-account.html
    ------------------------*/
    .black-container{
        margin-top: -500px;
        width: 65%;
    }

    .blur-logo-container-big{
        width: 600px;
        height: 230px;
    }

    .blur-logo-img-big {
        width: 400px;
        height: 254px;
        top: -286px;
    }

    .preview-container{
        width: 80%;
    }

    /* shopping-cart.html
    ------------------------*/
    
}