:root{
    font-size: 13px;
    --black: #0d0d0d;
    --orange: #f25c05;
    --gray: #e1e1e1;
    --light-orange: #f27405;
    --font-size-h1-2r: 2rem;
    --font-size-nav-17: 1.7rem;    
    --font-size-CTA-14: 1.4rem;  
    --font-size-link-1: 1rem;
    --font-size-game-link-15: 1.5rem;
    --font-size-game-text-1: 1rem;
    --font-size-question-12: 1.2rem;
    --font-size-game-requirements-08: 0.8rem;
}